{
  "env": {
    "mocha": true,
    "jasmine": true
  },
  "plugins": [
    "mocha",
    "chai-expect"
  ],
  "rules": {
    "no-unused-expressions": 0,

    "mocha/no-exclusive-tests": [2],
    "mocha/no-pending-tests": [2],
    "mocha/handle-done-callback": [2],
    "mocha/no-global-tests": [2],

    "chai-expect/missing-assertion": [2],
    "chai-expect/terminating-properties": [2],
    "chai-expect/no-inner-compare": [2]
  },
  "globals": {
    "$": true,
    "$$": true,
    "browser": false,
    "browserA": false,
    "browserB": false,
    "mock": false,
    "sinon": false,
    "assert": false,
  }
}
