{
  "presets": [
    ["env", {
      "targets": {
        "node": "4.4"
      }
    }],
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "array-includes"
  ]
}
