/packages/**/build
/packages/**/cjs
/packages/**/node_modules
/packages/node_modules
/packages/**/coverage
/tests/typings
*.d.ts
packages/wdio-protocols/src/protocols/webdriverBidi.ts
packages/webdriverio/third_party/fake-timers.js
