dist: trusty
language: node_js

node_js:
  - 8

before_script:
  - npm run bootstrap
  - npm run build

after_script:
  - ./node_modules/.bin/codecov

deploy:
  provider: script
  script: "gem install compass && npm run docs"
  skip_cleanup: true
  on:
    tags: true
