h1 {
    font-size: $h1Size;
    color: #444;
    font-variant: small-caps;
    font-weight: bold;
    padding: 0 0 40px;
    line-height: 1.2em;
}

h2 {
    margin: 30px 0 15px;
    font-weight: 300;
    font-size: $h2Size;
    padding: 0;
    color: $black;
}

h3 {
    font-size: $h3Size;
    margin: 30px 0 10px;
    font-weight: 400;
}

h4 {
    font-size: $h4Size;
    margin: 20px 0 10px;
    font-weight: 600;
}

h5 {
    font-size: $h5Size;
    margin: 20px 0;
}
