@import url(navbar.css);
@import url(docsearch.css);
@import url(hero.css);
@import url(buttons.css);
@import url(codeblock.css);

:root {
    --ifm-color-primary: #ea5906;
    --ifm-color-primary-dark: #d35005;
    --ifm-color-primary-darker: #c74c05;
    --ifm-color-primary-darkest: #a43e04;
    --ifm-color-primary-light: #f9640f;
    --ifm-color-primary-lighter: #f96c1b;
    --ifm-color-primary-lightest: #fa823e;
    --ifm-navbar-link-hover-color: var(--ifm-color-primary);
    --ifm-background-color: #fafafa;
    --ifm-code-font-size: 95%;
    --ifm-navbar-link-color: #000;
    --ifm-font-family-base: 'IBM Plex Sans', PT Sans, Montserrat, Lato;
    --ifm-font-family-monospace: 'IBM Plex Mono', PT Sans, Open Sans, Roboto Slab, Roboto Condensed;
    --ifm-button-padding-horizontal: 0.55rem;
    --ifm-button-padding-vertical: .7rem;
    --ifm-menu-color: #000;
    --ifm-menu-color-background-active: transparent;
    --ifm-toc-link-color: #000;
    --ifm-table-border-color: #efefef;
    --ifm-navbar-height: 85px;
    --ifm-button-border-width: 0;
    --docusaurus-announcement-bar-height: auto!important;

    --wdio-spacing-vertical: 60px;
    --wdio-link-background-color: #eee0d7;
    --wdio-link-color: #000;
    --wdio-section-background-color: #fff;
    --wdio-dark-section-background-color: #dfdfdf;
}

html[data-theme=dark] {
    --wdio-link-background-color: #4e1e02;
    --wdio-link-color: #fff;
    --ifm-menu-color: #fff;
    --ifm-table-border-color: var(--ifm-color-emphasis-300);
    --ifm-toc-link-color: #fff;
}

@media (max-width: 996px) {
    :root {
        --wdio-spacing-vertical: 20px;
    }

    body .footer__links {
        width: 100%;
    }

    body .footer__bottom {
        width: 100%;
    }

    body .footer__bottom > div {
        text-align: center;
    }
}

@media (max-width: 500px) {
    :root {
        --wdio-spacing-vertical: 10px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) {
    :root {
        --ifm-line-height-base: 1.85;
    }
}

.menu__link {
    font-weight: bold;
}

.menu__link {
    font-size: 1.1em;
}

.menu__list .menu__list {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.menu__list .menu__list .menu__list-item {
    margin: 0;
}

.menu__list .menu__list .menu__list-item .menu__link {
    border-left: 1px solid transparent;
}

.menu__list .menu__list .menu__list-item .menu__link:hover,
.menu__list .menu__list .menu__list-item .menu__link--active {
    border-left: 1px solid var(--ifm-color-primary);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.menu__list .menu__list .menu__list-item .menu__link {
    font-size: 0.9em;
    font-weight: normal;
}

.menu__list .menu__list .menu__list-item .menu__link--active {
    font-weight: bold;
    color: var(--wdio-link-color);
}

.footer__logo {
    max-width: 125px;
}
.footer__links {
    width: 75%;
    float: right;
}
.footer__bottom {
    width: 25%;
}
.footer__bottom > div {
    text-align: left;
}
.footer--dark {
    --ifm-footer-background-color: #20232a;
    --ifm-footer-padding-vertical: 85px;
}
.footer__copyright {
    font-size: .8em;
    text-align: left;
}

.footer__link-item[target="_blank"]:after {
    padding: 0 4px;
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 100 100' width='15' height='15'%3E%3Cpath fill='gray' d=' M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0, 0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z '%3E%3C/path%3E%3Cpolygon fill='gray' points=' 45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8, 14.9 62.8,22.9 71.5,22.9 '%3E%3C/polygon%3E%3C/svg%3E")
}

html[data-theme=dark] {
    --wdio-section-background-color: var(--ifm-footer-background-color);
    --wdio-dark-section-background-color: #18191A;
}

.docusaurus-highlight-code-line {
    background-color: #484d5b;
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

.features_src-pages- h3 {
    text-align: center;
}
.features_src-pages- .featureImage_src-pages- {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
}

.twitterProfile,
.githubProfile {
    margin-left: 10px;
}
.twitterProfile svg,
.githubProfile svg {
    width: 23px;
    color: #1B98E4;
    transform: translate(0, 3px);
}

.githubProfile:before {
    content: '';
    width: 27px;
    height: 25px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E") no-repeat;
}

html[data-theme="dark"] .githubProfile:before {
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
        no-repeat;
}

img[alt^=Support] {
    width: 20px;
    margin-right: 5px;
    display: inline-block;
}

.main-wrapper .markdown p > a,
.main-wrapper .container p > a {
    background-color: var(--wdio-link-background-color);
    color: var(--wdio-link-color);
    text-decoration: none!important;
    border-bottom: 1px solid var(--ifm-color-primary);
    padding: 2px;
}
.main-wrapper .container .admonition p > a {
    background-color: transparent;
    color: inherit;
    text-decoration: underline!important;
    border-bottom: 0;
}

.main-wrapper .markdown p > a:hover,
.main-wrapper .container p > a:hover {
    color: var(--ifm-color-primary)
}

article thead {
    background-color: var(--ifm-table-border-color);
    font-family: 'IBM Plex Mono';
    text-align: left;
}

h1, h2, h3 {
    font-weight: 400;
}

.prism-code > div {
    background-color: var(--ifm-table-border-color)!important;
}
.darkSection .prism-code > div {
    background-color: var(--wdio-section-background-color)!important;
}
html[data-theme=dark] .prism-code > div {
    background-color: #282B36!important;
}
div[class^='codeBlockTitle'] {
    background-color: var(--ifm-table-border-color)!important;
    border-bottom: var(--ifm-color-emphasis-300) 1px solid;
}
html[data-theme=dark] div[class^='codeBlockTitle'] {
    background-color: #282B36!important;
}
div[role="tabpanel"] .prism-code {
    border-top-left-radius: 0;
}
.tabs__item:hover {
    border-bottom-left-radius: 0;
}
.markdown > div > .margin-vert--md {
    margin-top: 0!important;
}

a code {
    background-color: transparent;
}

.highlightSection .token-line {
    font-size: 90%!important
}

.highlightSection .prism-code:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #ff5f56;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 12px;
}

.highlightSection .prism-code:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #ffbd2e;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 32px;
}

.highlightSection .prism-code > div {
    padding-top: calc(var(--ifm-pre-padding) + 5px);
}
.highlightSection .prism-code > div:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background: #27C941;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 52px;
}

div[role="tabpanel"] .margin-vert--md {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.tabs.runtime li:last-child:after {
    content: "*";
    color: red;
    padding: 0 3px;
    line-height: 15px;
    display: block;
    height: 15px;
}
