article .flowcharttogglemenu {
    margin: 20px 0;
}

article .flowcharttogglemenu span {
        padding: 0 5px;
    }

article .flowcharttogglelink {
    text-align: center;
    color: var(--ifm-color-primary);
    cursor: pointer;
}

.flowcharttogglemenu,
#flowChartGraphDivContainer {
    margin: auto;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}

article #flowChartGraphDiv .node rect,
article #flowChartGraphDiv .node circle,
article #flowChartGraphDiv .node ellipse,
article #flowChartGraphDiv .node polygon {
    stroke: var(--ifm-color-primary);
    fill: var(--wdio-section-background-color);
}

#flowChartGraphDiv .label text {
    fill: var(--ifm-menu-color)!important;
}

#flowChartGraphDiv .edgePath .path {
    stroke: var(--ifm-color-primary)!important;
    stroke-width: 1px!important;
}

#flowChartGraphDiv .arrowheadPath {
    fill: var(--ifm-color-primary)!important;
    stroke: var(--ifm-color-primary)!important;
}

#flowChartGraphDiv .edgeLabel rect {
    opacity: 0.1!important;
    fill: transparent!important;
}
