.sponsorSection {
    /* width: 60%; */
    min-width: 1000px;
    /* border-top: var(--ifm-color-primary) 1px solid; */
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--ifm-color-primary) 45%, var(--ifm-color-primary) 55%, rgba(0,0,0,0) 100%);;
    height: 1px;
    position: absolute;
    left: 50%;
    margin: 40px 0;
    transform: translate(-50%, 20px);
}
.sponsorSection > div {
    display: flex;
    flex-direction: row;
    width: 500px;
    border: 1px solid var(--ifm-color-primary);
    border-radius: 10px;
    margin: 0 auto;
    background-color: var(--wdio-section-background-color);
    transform: translateY(-50%);
}
.sponsorSection em {
    font-size: .8em;
    margin: 5px 10px 2px;
    font-style: normal;
    line-height: 2.2em;
}
.sponsorSection a {
    line-height: 1em;
}
.sponsorSection img {
    max-width: 150px;
}

@media (max-width: 996px) {
    .sponsorSection {
        background: none;
    }
}

@media (max-width: 500px) {
    .sponsorSection {
        min-width: auto;
        width: 100%;
        position: static;
        transform: translate(0%, 30px);
    }
    .sponsorSection > div {
        flex-direction: column;
        width: 100%;
    }
}
