h1 {
    font-size: $h1Size;
    color: $black;
    text-transform: uppercase;
    font-weight: 100;
    padding: 0 0 40px;
    line-height: 40px;
}

h2 {
    margin: 30px 0 15px;
    font-weight: 300;
    font-size: $h2Size;
    padding: 0;
    color: $black;
}

h3 {
    font-size: $h3Size;
    margin: 30px 0 10px;
}

h4 {
    color: $orange;
    font-size: $h4Size;
    margin-bottom: 10px;
}

h5 {
    font-size: 18px;
    margin: 20px 0;
}
