.mainContainer {
    ul, ol {
        margin: 30px 0 30px 20px;

        p {
            overflow: visible;
        }

        li > ul {
            margin: 0 0 0 20px;
        }
    }

    ul {
        list-style-type: inherit;
    }
    ol {
        list-style-type: decimal;
    }

    li {
        font-weight: 300;
    }
}
