.toc .toggleNav ul li a {
    font-size: 16px;
}

.onPageNav ul li {
    font-size: 14px;
    line-height: 20px;
}

.navigationSlider .slidingNav ul li a {
    -webkit-font-smoothing: subpixel-antialiased;
}
