{{#hasDocusaurusHeader}}
---
id: {{command}}
title: {{command}}
{{#customEditUrl}}
custom_edit_url: {{{customEditUrl}}}
{{/customEditUrl}}
---
{{/hasDocusaurusHeader}}
{{#hasHeader}}
## {{command}}
{{/hasHeader}}

{{{description}}}
{{#alternativeCommands}}
:::info
This protocol command is embedded in the following convenient method{{alternativeCommands.length > 1 ? 's' : ''}}: {{#alternativeCommands}}[{{.}}](/docs/api/{{.}}){{/alternativeCommands}}. It is recommended to use {{alternativeCommands.length > 1 ? 'these commands' : 'this command'}} instead.
:::
{{/alternativeCommands}}

##### Usage
{{\n}}
```js
{{renderUsage}}
```
{{{renderParamTags}}}
{{{renderExamples}}}
{{#returns}}
{{\n}}
##### Returns
- **&lt;{{type}}&gt; <code><var>{{name}}</var></code>:** {{description}}
{{/returns}}
{{#throwsTags}}
{{\n}}
##### Throws
{{#throwsTags}}
- **{{type}}**: {{description}}
{{/throwsTags}}
{{/throwsTags}}
{{#support}}
{{\n}}
##### Support
{{#support}}
![Support for {{#drivers}}{{.}}{{/drivers}}](/img/icons/{{platform}}.svg)
{{/support}}
{{/support}}
