// import compass plugins
@import 'compass';

// reset CSS before including inform styles
@include global-reset();

// import utilities
@import '_utils/vars';
@import '_utils/fonts';

// import modules
@import '_modules/nav';
@import '_modules/headers';
@import '_modules/hljs';

// import components
@import '_components/content';
@import '_components/headings';
@import '_components/labels';
@import '_components/lists';
@import '_components/tables';
@import '_components/navigation';

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: $bodyBackground;
    font-family: $fontRegular;
    font-size: 18px;
    color: $textColor;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

strong {
    font-weight: bold;
}

body .docsNavContainer {
    height: auto;
}

body .onPageNav {
    max-height: none;
    position: relative;
    top: 40px;
}

blockquote {
    background: none;
    padding-left: 15px;
    border-left: 1px solid $footerFontColor;
    margin: 15px;
    font-weight: 300;
}

.blog iframe {
    margin-left: 0;
}

.blog a img {
    display: inline;
}

.mainContainer {
    img {
        &[alt^='Support'] {
            width: 20px;
            margin-right: 5px;
            display: inline-block;
        }
    }
}

article .flowcharttogglelink {
    text-align: center;
    color: $orange;
    cursor: pointer;
}

article .flowcharttogglemenu {
    margin: 20px 0;

    span {
        padding: 0 5px;
    }
}

article #flowChartGraphDiv .node rect,
article #flowChartGraphDiv .node circle,
article #flowChartGraphDiv .node ellipse,
article #flowChartGraphDiv .node polygon {
    stroke: $orange;
    fill: $orangeLight;
}

.flowcharttogglemenu,
#flowChartGraphDivContainer {
    margin: auto;
    padding-left: auto;
    padding-right: auto;
    text-align: center;
}
