.section {
    padding: 4rem 0;
    width: 100%;
    background-color: var(--wdio-section-background-color);
}

.section h3 {
    text-align: center;
    font-size: 1.7em;
    font-weight: 500;
}

.darkSection {
    background-color: var(--wdio-dark-section-background-color);
}

html[data-theme=dark] {
    background-color: var(--wdio-section-background-color);
}
