.projectTitle {
    color: $black;
    text-transform: uppercase;
    font-weight: 100;
    padding: 60px 0 40px;
    line-height: 55px;
    clear: both;
    padding-top: 40px;
    font-size: $headerLogoFontSize;

    span {
        letter-spacing: -2px;
        background: $orange;
        border-radius: 10px;
        color: $white;
        font-size: .6em;
        position: relative;
        bottom: 11px;
        padding: 0 5px 0 3px;
        left: 10px;
        -webkit-font-smoothing: subpixel-antialiased;
    }
}

.homeContainer .homeWrapper .projectLogo {
    position: static;
    display: block;
    padding-bottom: 0;
}

.tagline {
    margin: 30px 0 10px;
    font-weight: 300;
    font-size: $h2Size;
}

#twitter-widget-1 {
    margin-right: 20px;
}

#fblike {
    height: 20px;
    margin-right: 20px;
}

.badges {
    margin: 30px 0 10px;

    a {
        margin: 0 3px;
    }
}

.promoSection {
    margin: 20px 0;
}

.postHeaderTitle a {
    color: inherit;
    margin-bottom: 10px;
    display: block;
}
