.docMainWrapper .hljs {
    font-family: $fontCode;
    background: $highlightBackground;
    font-size: $highlightFontSize;
    border: 1px solid $highlightBorder;
    border-radius: 4px 4px 3px 3px;
    margin: 20px 0;
    overflow: auto;
    padding: .25rem .5rem;
}

code {
    font-family: $fontCode;
    margin: 0;
    border: 1px solid $highlightBorder;
    background: $highlightBackground;
    border-radius: 3px;
    padding: 2px;
    font-size: 12px;
}
