.fixedHeaderContainer {
    height: 50px;
    width: 100%;
    background: $headerBackground;
    box-shadow: 0 1px 3px $transparent04, 0 0 2px $transparent025, inset 0 -1px 0 $transparent01;
    text-align: left;
    border-top: $headerTopBorder solid $orange;
    padding: 7px 0 0;

    .headerTitle {
        color: transparent;
        font-family: $fontRegular;
        -webkit-font-smoothing: subpixel-antialiased;

        &:before {
            background: $orange;
            border-radius: 5px;
            content: 'I/O';
            font-family: $fontRegular;
            float: left;
            letter-spacing: -2px;
            color: $white;
            font-size: 26px;
            padding: 5px 4px 0 2px;
            font-weight: 100;
            display: block;
            height: 27px;
            margin-right: 15px;
            line-height: .9em;
        }
    }

    .slidingNav li:last-Child a,
    .slidingNav li:last-Child a:hover {
        color: transparent;
        background: image-url('github-logo.png') center right no-repeat;
        background-size: 32px 32px;
        display: block;
        width: 50px;
    }
}

.navigationSlider .slidingNav ul {
    li {
        margin: 0 2px;

        a {
            padding: 4px 10px 6px;
            border-radius: 10px;
        }
    }
}

body input#search_input_react {
    background-color: $orange;
    visibility: .8;
}
