#sign
{
	display: none;
	padding: 20px;
	margin: 50px;
	background-color: pink;
}

#datamaskin
{
	padding: 20px;
	margin: 50px;
	background-color: lime;
}

#extra
{
	position: absolute;
	left: 300px;
	top: 50px;
	padding: 10px;
	background-color: lime;
	width: 100px;
	height: 100px;
}

p
{
	width: 300px;
	height: 800px;
	background-color: orange;
}

#dragContainer
{
    width: 300px;
    height: 90px;
    border: 2px solid black;
    position: absolute;
	left: 500px;
	top: 100px;
	background-color: #aaa;
	padding: 5px;
	z-index: 100;
}
   
.dragItem
{
    width: 88px;
    height: 88px;
    background-color: lime;
    float: left;
    line-height: 88px;
    text-align: center;
    border: 1px green solid;
    margin-right: 5px;
}

#dropContainer
{
    width: 300px;
    height: 90px;
    border: 2px solid black;
    position: absolute;
	left: 500px;
	top: 220px;
	background-color: #aaa;
	padding: 5px;
}

#dropContainer.ui-state-active
{
   	background-color: yellow; 
}