# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: Test

on:
  push:
    branches:
      - main
      - v7
  pull_request:

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm ci
      - name: Bootstrap Packages
        run: npm run setup-full
      - name: Dependency Check
        run: npm run test:depcheck
      - name: Lint / Typings / Unit / Smoke / Component Tests
        run: npm run test
      - name: Interop Tests
        run: |
          npm i chromedriver@109
          npm run test:e2e:cjs
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: logs
          path: examples/wdio/browser-runner/logs
  e2e-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install Dependencies
        run: npm ci
      - name: Bootstrap Packages
        run: npm run setup-full
      - name: Lint / Typings / Unit / Smoke / Component Tests
        run: npm run test
      - name: Setup Chrome Browser
        uses: browser-actions/setup-chrome@latest
      - name: E2E Protocol Tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: npm run test:e2e
      - name: E2E Edge Launch Tests
        run: npm run test:e2e:edge
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: logs
          path: |
            e2e/wdio/*.log
            e2e/*.log
            examples/wdio/browser-runner/logs
  e2e-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install Dependencies
        run: npm ci
      - name: Bootstrap Packages
        run: npm run setup-full
      - name: E2E Protocol Tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 20
          max_attempts: 3
          command: npm run test:e2e
      # Disable Firefox tests due to https://github.com/puppeteer/puppeteer/issues/8923
      # - name: Setup Firefox
      #   uses: browser-actions/setup-firefox@latest
      #   with:
      #     firefox-version: latest
      # - run: |
      #     export FIREFOX_BINARY=$(which firefox)
      #     echo "FIREFOX_BINARY=$FIREFOX_BINARY" >> $GITHUB_ENV
      # - name: E2E Firefox Launch Tests
      #   run: npm run test:e2e:firefox
      - name: E2E Connection Test
        run: npm run test:e2e:cloud
        if: github.ref == 'refs/heads/main'
        env:
          SAUCE_USERNAME: ${{secrets.SAUCE_USERNAME}}
          SAUCE_ACCESS_KEY: ${{secrets.SAUCE_ACCESS_KEY}}
      - name: E2E Connection Test w/ Params
        run: npm run test:e2e:cloud -- --user $SAUCE_USERNAME_PARAM --key $SAUCE_ACCESS_KEY_PARAM
        if: github.ref == 'refs/heads/main'
        env:
          SAUCE_USERNAME_PARAM: ${{secrets.SAUCE_USERNAME}}
          SAUCE_ACCESS_KEY_PARAM: ${{secrets.SAUCE_ACCESS_KEY}}
